.header{
    background-color: #2483ff;
}
.login-wrap{
    background: rgba(29, 110, 170, 0.82);;
}
.plugins-tips{
    background: #2483ff;
}
.plugins-tips a{
    color: #2483ff;
}
.el-upload--text em {
    color: #2483ff;
}
.pure-button{
    background: #2483ff;
}
.vue-datasource .btn-primary {
    color: #fff;
    background-color: #2483ff !important;
    border-color: #2483ff !important;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #2483ff !important;
    border-color: #2483ff !important;
}
